DALOrganizerClientWPF/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55155/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55155/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55155/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService.DataContracts" />
      <xsd:import schemaLocation="http://localhost:55155/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Get_All_Notes_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_All_Notes" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_All_Notes_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_All_NotesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Add_Note_InputMessage">
    <wsdl:part name="parameters" element="tns:Add_Note" />
  </wsdl:message>
  <wsdl:message name="IService1_Add_Note_OutputMessage">
    <wsdl:part name="parameters" element="tns:Add_NoteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Delete_Note_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete_Note" />
  </wsdl:message>
  <wsdl:message name="IService1_Delete_Note_OutputMessage">
    <wsdl:part name="parameters" element="tns:Delete_NoteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_All_Profits_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_All_Profits" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_All_Profits_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_All_ProfitsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_All_Expance_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_All_Expance" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_All_Expance_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_All_ExpanceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_All_Plans_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_All_Plans" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_All_Plans_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_All_PlansResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetProfitsTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProfitsTypes" />
  </wsdl:message>
  <wsdl:message name="IService1_GetProfitsTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProfitsTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetExpanceTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExpanceTypes" />
  </wsdl:message>
  <wsdl:message name="IService1_GetExpanceTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExpanceTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Save_New_Expance_InputMessage">
    <wsdl:part name="parameters" element="tns:Save_New_Expance" />
  </wsdl:message>
  <wsdl:message name="IService1_Save_New_Expance_OutputMessage">
    <wsdl:part name="parameters" element="tns:Save_New_ExpanceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Save_New_Profit_InputMessage">
    <wsdl:part name="parameters" element="tns:Save_New_Profit" />
  </wsdl:message>
  <wsdl:message name="IService1_Save_New_Profit_OutputMessage">
    <wsdl:part name="parameters" element="tns:Save_New_ProfitResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Save_New_Plan_InputMessage">
    <wsdl:part name="parameters" element="tns:Save_New_Plan" />
  </wsdl:message>
  <wsdl:message name="IService1_Save_New_Plan_OutputMessage">
    <wsdl:part name="parameters" element="tns:Save_New_PlanResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Delete_Profit_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete_Profit" />
  </wsdl:message>
  <wsdl:message name="IService1_Delete_Profit_OutputMessage">
    <wsdl:part name="parameters" element="tns:Delete_ProfitResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Delete_Expence_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete_Expence" />
  </wsdl:message>
  <wsdl:message name="IService1_Delete_Expence_OutputMessage">
    <wsdl:part name="parameters" element="tns:Delete_ExpenceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Delete_Plan_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete_Plan" />
  </wsdl:message>
  <wsdl:message name="IService1_Delete_Plan_OutputMessage">
    <wsdl:part name="parameters" element="tns:Delete_PlanResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_Total_Profits_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_Total_Profits" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_Total_Profits_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_Total_ProfitsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_Total_Expences_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_Total_Expences" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_Total_Expences_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_Total_ExpencesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_Total_Plans_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_Total_Plans" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_Total_Plans_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_Total_PlansResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_Balance_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_Balance" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_Balance_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_BalanceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Authorization_InputMessage">
    <wsdl:part name="parameters" element="tns:Authorization" />
  </wsdl:message>
  <wsdl:message name="IService1_Authorization_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthorizationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Create_New_User_InputMessage">
    <wsdl:part name="parameters" element="tns:Create_New_User" />
  </wsdl:message>
  <wsdl:message name="IService1_Create_New_User_OutputMessage">
    <wsdl:part name="parameters" element="tns:Create_New_UserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ChangeUser_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeUser_Login" />
  </wsdl:message>
  <wsdl:message name="IService1_ChangeUser_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeUser_LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ChangeUser_Password_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeUser_Password" />
  </wsdl:message>
  <wsdl:message name="IService1_ChangeUser_Password_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeUser_PasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ChangeUser_Status_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeUser_Status" />
  </wsdl:message>
  <wsdl:message name="IService1_ChangeUser_Status_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeUser_StatusResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Diary_ByDate_InputMessage">
    <wsdl:part name="parameters" element="tns:Diary_ByDate" />
  </wsdl:message>
  <wsdl:message name="IService1_Diary_ByDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:Diary_ByDateResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Get_All_Notes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Get_All_Notes" message="tns:IService1_Get_All_Notes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Get_All_NotesResponse" message="tns:IService1_Get_All_Notes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add_Note">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Add_Note" message="tns:IService1_Add_Note_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Add_NoteResponse" message="tns:IService1_Add_Note_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete_Note">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Delete_Note" message="tns:IService1_Delete_Note_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Delete_NoteResponse" message="tns:IService1_Delete_Note_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_All_Profits">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Get_All_Profits" message="tns:IService1_Get_All_Profits_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Get_All_ProfitsResponse" message="tns:IService1_Get_All_Profits_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_All_Expance">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Get_All_Expance" message="tns:IService1_Get_All_Expance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Get_All_ExpanceResponse" message="tns:IService1_Get_All_Expance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_All_Plans">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Get_All_Plans" message="tns:IService1_Get_All_Plans_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Get_All_PlansResponse" message="tns:IService1_Get_All_Plans_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProfitsTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetProfitsTypes" message="tns:IService1_GetProfitsTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetProfitsTypesResponse" message="tns:IService1_GetProfitsTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExpanceTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetExpanceTypes" message="tns:IService1_GetExpanceTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetExpanceTypesResponse" message="tns:IService1_GetExpanceTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save_New_Expance">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Save_New_Expance" message="tns:IService1_Save_New_Expance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Save_New_ExpanceResponse" message="tns:IService1_Save_New_Expance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save_New_Profit">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Save_New_Profit" message="tns:IService1_Save_New_Profit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Save_New_ProfitResponse" message="tns:IService1_Save_New_Profit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save_New_Plan">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Save_New_Plan" message="tns:IService1_Save_New_Plan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Save_New_PlanResponse" message="tns:IService1_Save_New_Plan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete_Profit">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Delete_Profit" message="tns:IService1_Delete_Profit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Delete_ProfitResponse" message="tns:IService1_Delete_Profit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete_Expence">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Delete_Expence" message="tns:IService1_Delete_Expence_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Delete_ExpenceResponse" message="tns:IService1_Delete_Expence_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete_Plan">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Delete_Plan" message="tns:IService1_Delete_Plan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Delete_PlanResponse" message="tns:IService1_Delete_Plan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_Total_Profits">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Get_Total_Profits" message="tns:IService1_Get_Total_Profits_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Get_Total_ProfitsResponse" message="tns:IService1_Get_Total_Profits_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_Total_Expences">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Get_Total_Expences" message="tns:IService1_Get_Total_Expences_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Get_Total_ExpencesResponse" message="tns:IService1_Get_Total_Expences_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_Total_Plans">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Get_Total_Plans" message="tns:IService1_Get_Total_Plans_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Get_Total_PlansResponse" message="tns:IService1_Get_Total_Plans_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_Balance">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Get_Balance" message="tns:IService1_Get_Balance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Get_BalanceResponse" message="tns:IService1_Get_Balance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Authorization">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Authorization" message="tns:IService1_Authorization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AuthorizationResponse" message="tns:IService1_Authorization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Create_New_User">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Create_New_User" message="tns:IService1_Create_New_User_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Create_New_UserResponse" message="tns:IService1_Create_New_User_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteUser" message="tns:IService1_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteUserResponse" message="tns:IService1_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeUser_Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ChangeUser_Login" message="tns:IService1_ChangeUser_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ChangeUser_LoginResponse" message="tns:IService1_ChangeUser_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeUser_Password">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ChangeUser_Password" message="tns:IService1_ChangeUser_Password_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ChangeUser_PasswordResponse" message="tns:IService1_ChangeUser_Password_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeUser_Status">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ChangeUser_Status" message="tns:IService1_ChangeUser_Status_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ChangeUser_StatusResponse" message="tns:IService1_ChangeUser_Status_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Diary_ByDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Diary_ByDate" message="tns:IService1_Diary_ByDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Diary_ByDateResponse" message="tns:IService1_Diary_ByDate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Get_All_Notes">
      <soap:operation soapAction="http://tempuri.org/IService1/Get_All_Notes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add_Note">
      <soap:operation soapAction="http://tempuri.org/IService1/Add_Note" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_Note">
      <soap:operation soapAction="http://tempuri.org/IService1/Delete_Note" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_All_Profits">
      <soap:operation soapAction="http://tempuri.org/IService1/Get_All_Profits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_All_Expance">
      <soap:operation soapAction="http://tempuri.org/IService1/Get_All_Expance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_All_Plans">
      <soap:operation soapAction="http://tempuri.org/IService1/Get_All_Plans" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfitsTypes">
      <soap:operation soapAction="http://tempuri.org/IService1/GetProfitsTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExpanceTypes">
      <soap:operation soapAction="http://tempuri.org/IService1/GetExpanceTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save_New_Expance">
      <soap:operation soapAction="http://tempuri.org/IService1/Save_New_Expance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save_New_Profit">
      <soap:operation soapAction="http://tempuri.org/IService1/Save_New_Profit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save_New_Plan">
      <soap:operation soapAction="http://tempuri.org/IService1/Save_New_Plan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_Profit">
      <soap:operation soapAction="http://tempuri.org/IService1/Delete_Profit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_Expence">
      <soap:operation soapAction="http://tempuri.org/IService1/Delete_Expence" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_Plan">
      <soap:operation soapAction="http://tempuri.org/IService1/Delete_Plan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Total_Profits">
      <soap:operation soapAction="http://tempuri.org/IService1/Get_Total_Profits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Total_Expences">
      <soap:operation soapAction="http://tempuri.org/IService1/Get_Total_Expences" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Total_Plans">
      <soap:operation soapAction="http://tempuri.org/IService1/Get_Total_Plans" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Balance">
      <soap:operation soapAction="http://tempuri.org/IService1/Get_Balance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authorization">
      <soap:operation soapAction="http://tempuri.org/IService1/Authorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create_New_User">
      <soap:operation soapAction="http://tempuri.org/IService1/Create_New_User" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeUser_Login">
      <soap:operation soapAction="http://tempuri.org/IService1/ChangeUser_Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeUser_Password">
      <soap:operation soapAction="http://tempuri.org/IService1/ChangeUser_Password" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeUser_Status">
      <soap:operation soapAction="http://tempuri.org/IService1/ChangeUser_Status" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Diary_ByDate">
      <soap:operation soapAction="http://tempuri.org/IService1/Diary_ByDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:55155/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>