DALOrganizerClientWPF/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDiary_WCF">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Diary_WCF" nillable="true" type="tns:Diary_WCF" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDiary_WCF" nillable="true" type="tns:ArrayOfDiary_WCF" />
  <xs:complexType name="Diary_WCF">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date_" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Diary_WCF" nillable="true" type="tns:Diary_WCF" />
  <xs:complexType name="ArrayOfProfit_ExpanceWCF">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Profit_ExpanceWCF" nillable="true" type="tns:Profit_ExpanceWCF" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProfit_ExpanceWCF" nillable="true" type="tns:ArrayOfProfit_ExpanceWCF" />
  <xs:complexType name="Profit_ExpanceWCF">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date_" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Profit_Expance_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sum" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Profit_ExpanceWCF" nillable="true" type="tns:Profit_ExpanceWCF" />
</xs:schema>